.dt {
    font-weight: bold;
    margin: 0.5rem 0 1.5rem 0;

}

@media (max-width: 576px) {
    .dt {
        margin: 0 0 0 0;
    }
}

.dd {
    font-weight: normal;
    margin: 0.5rem 0 1.5rem 0;
}

h1,
h2 {
    font-weight: bold;
}

h2 {
    /* margin-bottom: 1.0rem; */
    font-size: 1.5rem;
    /* padding-bottom: 1.0rem; */
    /* border-bottom: 0.05rem solid #e5e5e5; */
}

.card {
    width: 100%;
    margin: 3.0rem 0.2rem;
    padding: 1.0rem 0;
    border: 0.05rem solid #e5e5e5;
    box-shadow: 0 0 0.1rem grey;
    border-radius: 0.5rem 0.5rem;
}

li {
    /* line-height: 1.8rem; */
    margin-bottom: 0.5rem;
}